{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col of-9">
        <h4 class="underlined">はじめに</h4>
        ニャンちゅう〜．
        <br>
        <br>
        <h4 class="underlined">問題</h4>
        {% for problem in problems %}
        ・<a href="/problem/{{ problem.id }}">{{ problem.name }}</a><br>
        {% endfor %}
    </div>
    <div class="col of-3">
        <ul class="link-list green">
            <li class="heading">リンク</li>
            <li><a href="http://www.nhk.or.jp/kids/program/nyanchu.html">ニャンちゅう</a></li>
        </ul>
    </div>
</div>
{% endblock %}
