{% extends "layout.html" %}
{% block content %}
・<a href="/problem/{{ problem.id }}">Problem Statement</a><br>
・<a href="/problem/{{ problem.id }}/submit">Submit Code</a><br>
・<a href="/problem/{{ problem.id }}/submissions">Submissions</a><br>
・<a href="/problem/{{ problem.id }}/standings">Standings</a><br>
・<a href="/problem/{{ problem.id }}/code_test">Code Test</a>
<br>
<br>
<br>
<br>
<h3 class="underlined">{{ problem.name }}</h3><br>
{{ problem.statement }}
<br>
<br>
<br>
<br>
{% endblock %}
                