{% extends "layout.html" %}
{% block content %}
<h3 class="underlined">{{ problem }}</h3>
<br>
<a href="/problems/{{ problem }}" class="btn">Problem Statement</a>
<a href="/problems/{{ problem }}/submit" class="btn">Submit Code</a></li>
<a href="/problems/{{ problem }}/submissions" class="btn">Submissions</a></li>
<a href="/problems/{{ problem }}/code_test" class="btn">Code Test</a></li>
<br>
<br>
<br>
<br>
<h3 class="underlined">Code</h3>
<br>
<table class="tbl bordered center narrow">
    <thead>
        <tr>
            <th>#</th>
            <th>Problem</th>
            <th>UserID</th>
            <th>time</th>
            <th>language</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ submit.code_id }}</td>
            <td>{{ submit.problem_id }}</td>
            <td>{{ submit.user_id }}</td>
            <td>{{ submit.time_stamp }}</td>
            <td>{{ submit.language }}</td>
        </tr>
    </tbody>
</table>
<br>
<style>.CodeMirror {border: 1px solid #CCCCCC; height: {{ line }}em; line-height: 1.3em}</style>
<textarea id="editor" readonly name="source_code">{{ code }}</textarea>
<script>
    CodeMirror.fromTextArea(document.getElementById("editor"), {
        mode: "text/x-csrc",
        lineNumbers: true
    });
</script>
{% endblock %}
                