{% extends "layout.html" %}
{% block content %}
<a href="/problems/{{ problem }}" class="btn">Problem Statement</a>
<a href="/problems/{{ problem }}/submit" class="btn">Submit Code</a></li>
<a href="/problems/{{ problem }}/submissions" class="btn">Submissions</a></li>
<a href="/problems/{{ problem }}/code_test" class="btn">Code Test</a></li>
<br>
<br>
<br>
<br>
<h3 class="underlined">Submit Code</h4>
<br>
<form name="form" method="POST" action="/problems/{{ problem }}/submit">
    <div class="row">
        <div class="col of-8">
            Source Code : <br>
            <style>.CodeMirror {border: 1px solid #CCCCCC; height: 435px; line-height: 1.3em}</style>
            <textarea id="editor" name="source_code">{{ code }}</textarea>
            <script>
                CodeMirror.fromTextArea(document.getElementById("editor"), {
                    mode: "text/x-csrc",
                    lineNumbers: true,
                });
            </script>
            <br>
        </div>
        <div class="col of-4">
            <input type="hidden" name="prob-sel" value="{{ problem }}">
            Language : <br>
            <div class="input-container select">
                <select name="lang-sel">
                    <optgroup label="Language">
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                    </optgroup>
                </select>
            </div><br>
            <div class="input-container buttons"><button type="submit" name="submit" class="btn blue">Submit</button></div>
            <br>
            Message :
            <textarea readonly rows="15" style="width:100%;resize:none;background-color:#F8F8F8;color:#FF0000">{{ error }}</textarea>
        </div>
    </div>
</form>
{% endblock %}
