{% extends "layout.html" %}
{% block content %}
<h3 class="underlined">Submissions</h3>
<br>
<form name="form" method="POST" action="/submissions" class="form inline">
    <div class="input-container">
        <label for="form-text-inline" class="screen-readers">Text</label>
        <input type="text" name="userid" placeholder="username">
    </div>
    <div class="input-container buttons">
        <button type="submit" class="btn fill blue">Search</button>
    </div>
    <font color="red">{{ error }}</font>
</form>
<br>
<form name="form" method="POST" action="/show_code">
    <table class="tbl bordered center narrow">
        <thead>
            <tr>
                <th>#</th>
                <th>Problem</th>
                <th>UserID</th>
                <th>time</th>
                <th>language</th>
                <th>score</th>
                <th>code</th>
            </tr>
        </thead>
        <tbody>
           {% for submit in submits %}
            <tr>
                <td>{{ submit.code_id }}</td>
                <td>{{ submit.problem_id }}</td>
                <td>{{ submit.user_id }}</td>
                <td>{{ submit.time_stamp }}</td>
                <td>{{ submit.language }}</td>
                <td>{{ submit.score }}</td>
                <td><button type='submit' name='code_id' value='{{ submit.code_id }}'>code</button></td>
            </tr>
            {% else %}
            
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
                